.engine {
}

.head {
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
    background: cyan;
    padding: 10px;
    display: grid;
    /* grid-template-columns: 100px 70px auto; */
    /* grid-template-rows: auto auto auto; */
    grid-gap: 10px;
    grid-template-areas:
        "engine . ordering"
        "search search search"
        "next page .";
}

.body {
    border: 1px solid gray;
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.headName {
    grid-area: engine;
}

.headSearch {
    grid-area: search;
}

.headOrdering {
    grid-area: ordering;
}

.headPage {
    grid-area: page;
}

.headNext {
    grid-area: next;
}

/* torrent *******************************************************************/

.torrentHead {
    border: 1px solid gray;
    padding: 5px 0 0 0;
    display: grid;
    grid-template-columns: auto auto min-content min-content min-content;
    grid-template-areas:
        "title    title title title title"
        "category category     . date  seeders"
        "open     .     . size  magnet"
        "tabbar tabbar tabbar tabbar tabbar";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    box-sizing: border-box;
}

.tabbar {
    grid-area: tabbar;
    display: flex;
}

.tabbar > div.disabled {
    opacity: 0.4;
    color: #aaaaaa;
}

.tabbar > div {
    flex-grow: 1;
    padding: 5px;
    text-align: center;
    user-select: none;
    background: #eee;
    cursor: pointer;
}

.tabbar > div.selected {
    background: #ccc;
}

.theadTitle {
    grid-area: title;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-all;
}

.theadCategory {
    grid-area: category;
    padding-left: 5px;
}

.theadSeeders {
    grid-area: seeders;
    justify-self: end;
    white-space: nowrap;
    padding-right: 5px;
}

.theadOpen {
    grid-area: open;
    padding-left: 5px;
}

.theadSize {
    grid-area: size;
    white-space: nowrap;
    justify-self: end;
}

.theadMagnet {
    grid-area: magnet;
    justify-self: end;
    padding-right: 5px;
}

.theadDownloads {
    grid-area: downloads;
}

.theadDate {
    grid-area: date;
    white-space: nowrap;
    justify-self: end;
}
