.engine {
    position: relative;
    /*TODO: remove*/
    margin-bottom: 10000px;
}

.head {
    position: sticky;
    top: 0;
    border: 1px solid gray;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    z-index: 999;
    vertical-align: middle;
}

.body {
    border: 1px solid gray;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    border-width: 0 1px 1px 1px;
}

.body.folded {
    display: none;
}

.headName {
}

.headSearch {
}

.headOrdering {
}

.headPage {
}

.headNext {
    text-align: center;
}

.headClose {
    height: 1em;
    cursor: pointer;
    transition: transform 100ms linear;
}

.headClose:hover {
    transform: rotate(360deg);
}

/* torrent *******************************************************************/

.torrent {
    margin-bottom: 10px;
    box-shadow: 2px 3px 3px lightgrey;
}

.torrent.seenMagnet > .torrentHead {
    background-image: linear-gradient(45deg, #dda0dd 50%, transparent 50%);
}

.torrent.seenUrl > .torrentHead {
    background-image: linear-gradient(45deg, transparent 50%, #dda0dd 50%);
}

.torrent.seenUrl.seenMagnet > .torrentHead {
    background-color: #dda0dd;
}

.torrent.seenUrl .theadCircle, .torrent.seenMagnet .theadCircle {
    border: 1px solid black;
}

.torrentHead {
    border: 1px solid gray;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background-clip: padding-box;
}

.torrentHead > * {
    margin: 0 5px;
}

.torrentBody {
    padding: 5px;
    border-width: 0 1px 1px 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 0 0 5px 5px;
}

.noDetails {
    border-style: dashed;
}

.titleSpinner {
    margin-right: 5px;
    display: inline-block;
}

.tabbar {
    display: flex;
    width: 100%;
    margin: 0 0;
    margin-top: 0.5ex;
}

.labelDisabled {
    color: #666;
    font-style: italic;
}

.label {
}

.property {
    font-weight: lighter;
}

.tabbar > div.disabled {
    color: #aaaaaa;
    cursor: default;
}

.tabbar > div {
    flex-grow: 1;
    padding: 5px;
    text-align: center;
    user-select: none;
    background: #eee;
    cursor: pointer;
}

.tabbar > div.selected {
    background: #ccc;
}

.theadTitle {
    width: 100%;
    word-break: break-all;
    margin-bottom: 0.5ex;
    font-size: 1.1em;
}

.titleClickable {
    cursor: pointer;
}

.theadUploader {
}

.theadCategory {
}

.theadSeeders {
    white-space: nowrap;
}

.theadSize {
    white-space: nowrap;
}

.theadMagnet {
}

.theadDownloads {
}

.theadDate {
    white-space: nowrap;
}

.theadCircle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-sizing: border-box;
}

div.tabbarFilesDownloaded {
    background-image: repeating-linear-gradient(45deg, #dda0dd, #dda0dd 10px, #eee 10px, #eee 20px);
}

div.tabbarFilesDownloaded.selected {
    background-image: repeating-linear-gradient(45deg, #dda0dd, #dda0dd 10px, #ccc 10px, #ccc 20px);
}

/* files *********************************************************************/

.filesFolder {
    color: blue;
}

.filesFile {
}

.filesMarked.filesFile {
    background: lime;
}

.filesLocations {
    display: none;
}

.filesFile.filesMarked:hover + .filesLocations {
    display: initial;
}

.filesSize {
    font-weight: bold;
}
